@charset "utf-8";
/* CSS Document */
/**{margin:0;padding:0;}*/

body{font-size:14px;
     width:100%;}
 
img{border:none;}

li{list-style:none;}
input,select,textarea{
	                  outline:none;}

textarea{
	     resize:none;}
h1{
	color:#333;
    background:transparent;}
a{
	text-decoration:none;
    color:#DB4E27;
	background:transparent;
	font-weight:bold;
 }
 a img{
	 height:80px;
	wight:100px;}
ul{
	width:900px;
	margin:0 auto;
	}
li{
	height:16px;
    line-height:16px;
	float:left;
	width:150px;
	/*margin:10px auto;*/
	margin-bottom:50px;
	text-align:center;
	}
p{
	margin-top:150px;
	clear:both;
	text-align:center;
	/*不定宽元素居中*/
	}
#imgPlace{
	
	display:block;
	margin:10px auto;
	height:600px;
	weight:440px;
    }

